@layer global {
    body {
        color: var(--color-body-text);
        background: var(--color-body-background);
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    /* Links */
    a {
        color: inherit;
        text-decoration: underline;
        text-decoration-color: var(--theme-color);
    }

    a:hover {
        color: var(--theme-color);
    }

    /* Inputs */
    input[type="text"],
    textarea {
        width: 100%;
        padding: 8px;
        border: 1px solid var(--color-lines-mid);
        border-radius: 0;

        &:focus {
            border-color: var(--theme-color);
            outline: none;
        }
    }

    textarea {
        field-sizing: content;
    }
}

/* Theme */
:root {
    color-scheme: light dark;
    --color-body-background: light-dark(#ededed, #333);
    --color-body-text: light-dark(#111111, #ffffff);

    --color-lines-mid: light-dark(#e0e0e0, #333333);

    --theme-color: light-dark(#ffd42d, #ffd42d);
}