.navGroupLabel a {
	color: inherit;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

.navGroupItems {
	font-size: var(--piko-fontsize--1);
}

.hueControl {
	display: grid;
	grid-template-columns: auto 1fr;
	gap: var(--piko-gap-grid);
	align-items: center;
}

.hueDemo {
	color: var(--piko-color-text-dynamic);
	font-variant-numeric: tabular-nums;
	min-width: 3ch;
	display: inline-block;
}

.tokenGrid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(224px, 1fr));
	gap: var(--piko-gap-grid);
}

.swatch {
	border: 1px solid var(--piko-color-border);
	border-radius: 0;
	min-height: calc(2lh + 2 * var(--piko-space-panel-padding));
	padding: var(--piko-space-panel-padding);
	font-size: var(--piko-t-caption);

	code {
		overflow-wrap: anywhere;
	}
}

.spaceBar {
	height: 1rem;
	background-color: var(--piko-color-background-dynamic);
}
