.editorContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin-bottom: 1rem;
}

.editor {
    min-height: 500px;
}

.preview {
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow-y: auto;
    min-height: 500px;
}
